
/* #comments, #comments li {
    margin: 0;
    padding: 0;
  } */
  
  #comments li {
    list-style: none;
  }
  
  .photo {
    margin-bottom: 10px;
  }
  
  .social-buttons button {
    margin-top: 5px;
  }
  
  .carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
  
  /* body {
    padding-top: 54px;
  } */
  
  /* @media (min-width: 992px) {
  body {
    padding-top: 56px;
    }
  } */
  
  .business-header {
    height: 50vh;
    min-height: 300px;
    background: url('http://placehold.it/1920x400') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  
  .card {
    height: 100%;
  }
  
  .no-border {
    border: 0;
  }
  
  .lead {
    font-weight: 500;
  }
  
  .btn-facebook {
    background: #3b5998;
    color: white;
    opacity:1; 
  }
  
  .btn-facebook:hover {
    color: white;
  }
  
  .control-label {
      display: none;
  }
  
  .page-heading h1 {
      font-size: 18px;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 3.5re;
  }
}

.navbar-brand {
   text-transform: uppercase;
   font-size: 1.7rem;
   text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.12);
}

.navbar {
   box-shadow: 4px 0 6px rgba(0, 0, 0, 0.2);
}

.subscribe {
  background-color: #404040;
  color: white;
}

.subscribe .subscribe-text::after {
    position: absolute;
    content: "\f003";
    font-family: FontAwesome;
    color: #313131;
    z-index: 1;
    top: -14px;
    left: -4px;
    font-size: 4em;
    -webkit-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    transform: rotate(-50deg);
}

.subscribe .subscribe-text {
    padding-left: 60px;
    position: relative;
    margin-bottom: 40px;
    margin-top: 40px;
}

.subscribe .subscribe-text::before {
    content: '';
    border-right: 1px solid #313131;
    position: absolute;
    right: 0;
    top: -15px;
    bottom: -15px;
    border-width: 3px;
}

.subscribe .subscribe-form {
    margin-top: 60px;
}

.subscribe .spam-text {
    color: rgba(255,255,255,.9);
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 0;
}

.subscribe .subscribe-text h2, .subscribe .subscribe-text span {
    position: relative;
    z-index: 2;
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
}

#subscriber-email, #subscribe-button{
  border:none;
}

.btn {
    padding: 10px 35px;
    line-height: 18px;
}

.intro-header .site-heading h1, .intro-header .page-heading h1 {
    font-size: 50px;
}

.alert {
  font-size: 14px;
}